@model Proy_DSWI_NinaJose.Models.ViewModels.Register
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="regForm" asp-controller="Account" asp-action="Register" method="post">
    <div id="regValidation"></div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Confirmar Contraseña</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success">Crear cuenta</button>
    </div>
</form>
